{% extends "base_layout.html" %}
{% block content %}
      <main class="hero-section">
         <div class="container">

            <div class="section-content">
               <h2>See The World!</h2>
               <a href="{{ url_for('adduser') }}" class="btn-primary">Register</a>
               <a href="{{ url_for('more') }}" class="btn-secondary">More</a>
            </div>

            <div class="section-device">
               <img src="static/image/theworld.jpg">
            </div>

            <div class="clearfix"></div>

         </div>
      </main>
{% endblock %}
